{
    "env": {
      "browser": {},
      "mocha": {},
      "node": {}
    },
    "ignore": [
      "third_party"
    ],
    "presets": [
      "@babel/preset-react",
      [
        "@babel/preset-env",
        {
          "modules": "commonjs"
        }
      ],
      "@babel/preset-typescript"
    ],
    "plugins": [ [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": false,
        "regenerator": true
      }
    ]]
  }
  