# Build
dist
!docs/assets/dist
build/Release
bin

# Dependency Directory
node_modules
jspm_packages

# Unit Testing
.DS_Store
.nyc_output
coverage

# Flow
flow-typed

# Editors
.vscode

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.ssh

# node-waf configuration
.lock-wscript
