# Dependency directory
node_modules
jspm_packages

# Editors
.vscode

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.ssh

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
bin