/**
* Base Styles
*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    z-index: -2;
}

body {
    background-color: #101016;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
}

input {
    border: 0 none;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    &:link,
    &:visited {
        color: #fff;
    }
    &:hover {
        color: #ddd;
    }
    &:active {
        color: #ccc;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-size: 3em;
    font-weight: 100;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.12em;
}

h6 {
    font-size: 1.05em;
}

img {
    max-width: 100%;
}

p {
    line-height: 2.5em;
}

pre {
    background-color: #282c34;
    padding: 8px;
    overflow: auto;
    border-radius: 3px;
    margin: 16px 0;
}

code {
    font-family: 'Fira Code';
    font-variant-ligatures: normal;
    line-height: 1.5em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
}


/* Article Specific CSS */

article {
    line-height: 1.5em;
    img {
        display: block;
        margin: auto;
    }
    blockquote {
        border-left-width: 10px;
        background-color: rgba(0, 0, 0, 0.05);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 15px 20px;
        margin: 0 0 1.1em;
        border-left: 5px solid rgba(0, 0, 0, 0.075);
    }
    strong {
        font-weight: 500;
    }
    a {
        color: #eefeff;
        text-decoration: underline;
    }
    ul {
        list-style: disc;
        padding-left: 2em;
    }
    ol {
        list-style: circle;
        padding-left: 2em;
    }
    h1, h2, h3, h4, h5, h6 {
        padding: .5em 0;
    }
}