{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "presets": [
    "stage-2",
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    "syntax-jsx"
  ]
}
