@font-face {
  font-family: 'Circular';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1137/Circular-Book.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1137/Circular-Bold.woff') format('woff');
  font-weight: bold;
}

* {
  box-sizing: border-box;
}


/**
* Base Styles
*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Circular', arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

body {
  background: #18212D;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Circular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Circular', 'sans-serif';
  margin: 0;
  font-size: 35px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 4em;
  margin: auto;
  text-align: center;
}

a {
  color: #206EFF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 13rem;
  min-height: 8rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

table {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
}

table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(336deg, #de2b2b, #de582b, #de2b75, #c12bde);
  background-size: 800% 800%;
  animation: AnimationName 32s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes AnimationName {
  0% {
    background-position: 64% 0%
  }
  50% {
    background-position: 37% 100%
  }
  100% {
    background-position: 64% 0%
  }
}

.red {
  background-color: #FF324A;
}

.green {
  background-color: #31FFA6;
}

.blue {
  background-color: #206EFF;
}

.yellow {
  background-color: #FFFF99;
}

g div {
  width: 2.5em;
  height: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
}

.github {
  font-family: 'Circular', 'sans-serif';
  height: 50px;
  font-size: 25px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  color: #fff;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 20px;
}