code[class*="language-"] {
	color: $white;
	background: none;
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	text-align: left;
	text-shadow: 0 -.1em .2em $black;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	::-moz-selection {
		text-shadow: none;
		background: hsla(0, 0%, 93%, 0.15);
	}
	::selection {
		text-shadow: none;
		background: hsla(0, 0%, 93%, 0.15);
	}
}
pre[class*="language-"] {
	color: $white;
	background: none;
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	text-align: left;
	text-shadow: 0 -.1em .2em $black;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	background: hsl(0, 0%, 8%);
	border-radius: .5em;
	border: .3em solid hsl(0, 0%, 33%);
	box-shadow: 1px 1px .5em $black inset;
	margin: .5em 0;
	overflow: auto;
	padding: 1em;
	::-moz-selection {
		text-shadow: none;
		background: hsla(0, 0%, 93%, 0.15);
	}
	::selection {
		text-shadow: none;
		background: hsla(0, 0%, 93%, 0.15);
	}
}
pre[class*="language-"]::-moz-selection {
	background: hsl(200, 4%, 16%);
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15);
}
pre[class*="language-"]::selection {
	background: hsl(200, 4%, 16%);
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15);
}
code[class*="language-"]::-moz-selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15);
}
code[class*="language-"]::selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15);
}
.token {
	position: relative;
	z-index: 1;
	&.comment {
		color: hsl(0, 0%, 47%);
	}
	&.prolog {
		color: hsl(0, 0%, 47%);
	}
	&.doctype {
		color: hsl(0, 0%, 47%);
	}
	&.cdata {
		color: hsl(0, 0%, 47%);
	}
	&.punctuation {
		opacity: .7;
	}
	&.tag {
		color: hsl(14, 58%, 55%);
	}
	&.boolean {
		color: hsl(14, 58%, 55%);
	}
	&.number {
		color: hsl(14, 58%, 55%);
	}
	&.deleted {
		color: hsl(14, 58%, 55%);
	}
	&.keyword {
		color: hsl(53, 89%, 79%);
	}
	&.property {
		color: hsl(53, 89%, 79%);
	}
	&.selector {
		color: hsl(53, 89%, 79%);
	}
	&.constant {
		color: hsl(53, 89%, 79%);
	}
	&.symbol {
		color: hsl(53, 89%, 79%);
	}
	&.builtin {
		color: hsl(53, 89%, 79%);
	}
	&.attr-name {
		color: hsl(76, 21%, 52%);
	}
	&.attr-value {
		color: hsl(76, 21%, 52%);
	}
	&.string {
		color: hsl(76, 21%, 52%);
	}
	&.char {
		color: hsl(76, 21%, 52%);
	}
	&.operator {
		color: hsl(76, 21%, 52%);
	}
	&.entity {
		color: hsl(76, 21%, 52%);
		cursor: help;
	}
	&.url {
		color: hsl(76, 21%, 52%);
	}
	&.variable {
		color: hsl(76, 21%, 52%);
	}
	&.inserted {
		color: hsl(76, 21%, 52%);
	}
	&.atrule {
		color: hsl(218, 22%, 55%);
	}
	&.regex {
		color: hsl(42, 75%, 65%);
	}
	&.important {
		color: hsl(42, 75%, 65%);
		font-weight: bold;
	}
	&.bold {
		font-weight: bold;
	}
	&.italic {
		font-style: italic;
	}
}
.namespace {
	opacity: .7;
}
pre[data-line] {
	padding: 1em 0 1em 3em;
	position: relative;
}
.line-highlight {
	background: hsla(0, 0%, 33%, 0.25);
	background: linear-gradient(to right, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0, 33%, 0));
	border-bottom: 1px dashed hsl(0, 0%, 33%);
	border-top: 1px dashed hsl(0, 0%, 33%);
	left: 0;
	line-height: inherit;
	margin-top: 0.75em;
	padding: inherit 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	white-space: pre;
	z-index: 0;
	&:before {
		background-color: hsl(215, 15%, 59%);
		border-radius: 999px;
		box-shadow: 0 1px $white;
		color: hsl(24, 20%, 95%);
		content: attr(data-start);
		font: bold 65%/1.5 sans-serif;
		left: .6em;
		min-width: 1em;
		padding: 0 .5em;
		position: absolute;
		text-align: center;
		text-shadow: none;
		top: .4em;
		vertical-align: .3em;
	}
}
:not(pre) > code[class*="language-"] {
	background: hsl(0, 0%, 8%);
	border-radius: .3em;
	border: .13em solid hsl(0, 0%, 33%);
	box-shadow: 1px 1px .3em -.1em $black inset;
	padding: .15em .2em .05em;
	white-space: normal;
}
.language-css .token.string {
	color: hsl(76, 21%, 52%);
}
.style .token.string {
	color: hsl(76, 21%, 52%);
}
.language-markup .token {
	&.tag {
		color: hsl(33, 33%, 52%);
	}
	&.attr-name {
		color: hsl(33, 33%, 52%);
	}
	&.punctuation {
		color: hsl(33, 33%, 52%);
	}
}
.line-highlight[data-end]:after {
	background-color: hsl(215, 15%, 59%);
	border-radius: 999px;
	box-shadow: 0 1px $white;
	color: hsl(24, 20%, 95%);
	content: attr(data-start);
	font: bold 65%/1.5 sans-serif;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: .4em;
	vertical-align: .3em;
	bottom: .4em;
	content: attr(data-end);
	top: auto;
}